<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Fashi Template" />
    <meta name="keywords" content="Fashi, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fashi | Template</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link
      rel="stylesheet"
      href="/product/css/bootstrap.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/product/css/font-awesome.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/product/css/themify-icons.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/product/css/elegant-icons.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/product/css/owl.carousel.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/product/css/nice-select.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/product/css/jquery-ui.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/product/css/slicknav.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/product/css/style.css" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.2/dist/sweetalert2.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <%- include('./header/header') %>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-text product-more">
              <a href="/"><i class="fa fa-home"></i> Home</a>
              <a href="/shop">Shop</a>
              <span>Check Out</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Shopping Cart Section Begin -->
    <section class="checkout-section spad">
      <div class="container">
        <form id="form-pay" class="checkout-form">
          <div class="row">
            <div class="col-lg-6">
              <div class="checkout-content">
                <a href="#" class="content-btn">Click Here To Login</a>
              </div>
              <h4>Biiling Details</h4>
              <div class="row">
                <div class="col-lg-12">
                  <label for="address">Address<span>*</span></label>
                  <input type="text" name="address" id="address" />
                </div>
                <div class="col-lg-12">
                  <label for="phone">Phone<span>*</span></label>
                  <input type="text" name="phone" id="phone" />
                </div>

                <div class="col-lg-12"></div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="checkout-content">
                <input type="text" placeholder="Enter Your Coupon Code" />
              </div>
              <div class="place-order">
                <h4>Your Order</h4>
                <div class="order-total">
                  <ul class="order-table">
                    <li>Product <span>Total</span></li>

                    <li class="total-price">Total <span>$<%= total%></span></li>
                  </ul>
                  <div class="payment-check">
                    <div class="pc-item">
                      <label for="pc-check">
                        Cheque Payment
                        <input type="checkbox" id="pc-check" />
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="pc-item">
                      <label for="pc-paypal">
                        Paypal
                        <input type="checkbox" id="pc-paypal" />
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                  <div class="order-btn">
                    <button type="submit" class="site-btn place-btn">
                      Place Order
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
    <!-- Shopping Cart Section End -->

    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
      <div class="container">
        <div class="logo-carousel owl-carousel">
          <div class="logo-item">
            <div class="tablecell-inner">
              <img src="/product/img/logo-carousel/logo-1.png" alt="" />
            </div>
          </div>
          <div class="logo-item">
            <div class="tablecell-inner">
              <img src="/product/img/logo-carousel/logo-2.png" alt="" />
            </div>
          </div>
          <div class="logo-item">
            <div class="tablecell-inner">
              <img src="/product/img/logo-carousel/logo-3.png" alt="" />
            </div>
          </div>
          <div class="logo-item">
            <div class="tablecell-inner">
              <img src="/product/img/logo-carousel/logo-4.png" alt="" />
            </div>
          </div>
          <div class="logo-item">
            <div class="tablecell-inner">
              <img src="/product/img/logo-carousel/logo-5.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Partner Logo Section End -->

    <!-- Footer Section Begin -->
    <%- include('./footer/footer')%>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/product/js/jquery-3.3.1.min.js"></script>
    <script src="/product/js/bootstrap.min.js"></script>
    <script src="/product/js/jquery-ui.min.js"></script>
    <script src="/product/js/jquery.countdown.min.js"></script>
    <script src="/product/js/jquery.nice-select.min.js"></script>
    <script src="/product/js/jquery.zoom.min.js"></script>
    <script src="/product/js/jquery.dd.min.js"></script>
    <script src="/product/js/jquery.slicknav.js"></script>
    <script src="/product/js/owl.carousel.min.js"></script>
    <script src="/product/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.33/dist/sweetalert2.all.min.js"></script>
    <script>

      document
              .getElementById("form-pay")
              .addEventListener("submit", function (event) {

                // tat viec submit form len server
                event.preventDefault();
                let address = $('#address').val();
        let phone = $('#phone').val();
           axios({
                  method: "post",
                  url: "http://localhost:3000/page/pay",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  data: {
                   address: address,
                   phone: phone
                  },
                }).then((a)=>{
                  Swal.fire(
                      "Payment!",
                      "Payment success !",
                      "success"
                    ).then(()=>{
                      window.location.href = "http://localhost:3000/shop"
                    })
                })
              })
    </script>
  </body>
</html>
